*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#contenedor{
    width: 100vw;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.titulos{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#escena1, #escenaEstadoJugador, #escena2, #escena3, #escena4, #escena5, #escena6, #escena7{
    background-color: rgb(121, 199, 138);
    flex-direction: column;
    align-items: center;
    display: none;
    flex: 1;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden; /
}

#escena1{
    display: flex;
}

#formularioJugador {
    background-color: #f5e6c8;
    border: 3px solid #8b5e3c;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    max-width: 250px;
    margin: auto;
    box-shadow: 4px 4px 15px #00000033;
}

#formularioJugador label {
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
    color: #4b2e1e;
    font-size: 1rem;
}

#formularioJugador input[type="text"],
#formularioJugador input[type="number"] {
    width: 100%;
    padding: 5px 5px;
    margin-bottom: 6px;
    border: 2px solid #8b5e3c;
    border-radius: 6px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

#mensaje, #mensajeError {
    color: #ff0000;
    font-weight: bold;
    margin-bottom: 10px;
    min-height: 20px;
}

#puntos {
    font-weight: bold;
    color: #1a1a1a;
    text-align: center;
}

#crearJugador, #estadoJugadorbtn, #botonEnemigos, #botonResumen, #botonMercado, #batallasBtn, #resultadoBtn, #vistaPrincipal {
    display: block;
    background-color: #97623f;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 8px 23px;
    border: 2px solid #4e2f1b;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 6px #00000066;
    transition: all 0.2s ease-in-out;
    margin: 1% auto;
}

.anadirCarro{
    display: inline-block;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 8px 23px;
    border: 2px solid #4e2f1b;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 6px #00000066;
    transition: all 0.2s ease-in-out;
    margin: 1% auto;
    background-color: rgb(243, 243, 104);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.saltar {
    animation: salto 0.5s ease;
}

@keyframes salto {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* hacia arriba */
    }
    100% {
        transform: translateY(0);
    }
}

#batallas{
    background-color: #97623f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    margin: 20px 0;
    position: relative;
    overflow: visible;
}

.contenedorImgBatallas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    margin: 20px 0;
}

.imgBatallaJugador{
    height: 200px;
    width: auto;
    object-fit: contain;
    animation: movimientoJugador 3s ease;
}

@keyframes movimientoJugador{
    0%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0px);
    }
}

.imgBatallaEnemigo {
    height: 200px;
    width: auto;
    object-fit: contain;
    animation: movimientoEnemigo 3s ease;
}

@keyframes movimientoEnemigo{
    0%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(0px);
    }
}

#contenedorResultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 40px
}

#texto{
    text-align: center;
}

#tabla{
    margin: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

#tablaTr{
    background-color: white;
}

#crearJugador:hover, #estadoJugadorbtn:hover, #botonEnemigos:hover, #botonResumen:hover, #botonMercado:hover, .btnAvanzarMercado:hover, #batallasBtn:hover, #resultadoBtn:hover, #vistaPrincipal:hover{
    background-color: #855d3a; 
    box-shadow: 0 0 10px #eb7231;
    transform: translateY(-2px);
}

#crearJugador:active, #estadoJugadorbtn:active, #botonEnemigos:active, #botonResumen:active, #botonMercado:active, .btnAvanzarMercado:active, #batallasBtn:active, #resultadoBtn:active, #vistaPrincipal:active{
    transform: translateY(1px);
    box-shadow: 1px 1px 4px #00000066;
}

.imgJugador{
    width: 20%;
    display: block;
    margin: 0 auto;
}

.header {
    display: flex;               
    align-items: center;       
    justify-content: space-between;
    padding: 0 10px; 
    background-color: #97623f;
    color: white;     
}

.imagenJugador {
    width: 80px;
    height: auto;
}

.nombreJugador{
    text-align: right;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-right: 10px;
}

#tarjetas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 70%;
    margin: 0 auto;
    max-height: 350px;
    overflow-y: auto;
    padding: 10px;
}

#tarjeta-Mercado {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 10px;
    max-height: 350px;
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 4px solid black;
    background-color: #97623f;
}

.tarj img, .tarjetaJugador img, #tarjeta-Mercado img {
    height: 80px;
    width: auto;
    object-fit: contain;
}

.tarj{
    border: 2px solid black;
    background-color: white;
    height: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: box-shadow 0.2s ease;
}

.tarj:hover{
    box-shadow: 0 8px 20px rgb(248, 247, 247);
}


.tarjetaMercado{
    border: 2px solid black;
    background-color: orange;
    height: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#puntos{
    display: flex;
    justify-content: center;
    align-items: center
}

.tarjetaJugador {
    width: 255px;
    border: 2px solid black;
    background-color: white;
    height: 250px;
    padding: 8px;
    margin: 8% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 3%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#cestaMercado{
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(121, 199, 138);
}

#cestaMercado div img {
    width: 40px;
    height: auto;
    display: block;
    margin: auto;
    transition: transform 0.2s ease;
}

#cestaMercado div img:hover{
    transform: scale(1.1);
}

#producto1, #producto2, #producto3, #producto4, #producto5, #producto6{
    border: 2px solid black;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#dinero{
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;
    top:10px;
    animation: mover 3s ease;
}

#dinero img{
    width: 70px;
    height: auto;
    display: block;
}

#monedas{
    position: absolute;
    top: 35px;
    left: 22px;
    font-size: 15px;
    font-weight: bold;
    z-index: 1;
}

@keyframes mover{
    0%{
        transform: translateX(-100vw);
    }
    50%{
        transform: translateX(50px);
    }
    100%{
        transform: translateX(0);
    }
}

.imgAnimacionMonedas {
    position: absolute;
    top: -100px;              
    width: 50px;
    height: 50px;
    animation: caerMoneda 3s ease-in forwards;
    z-index: 1;
}

@keyframes caerMoneda {
    0% {
        transform: translateY(0px) rotateY(0deg) rotateZ(0deg);  
        opacity: 1;
    }
    50% {
        transform: translateY(150px) rotateY(360deg) rotateZ(180deg);
        opacity: 0.8;
    }
    100% {
        transform: translateY(300px) rotateY(720deg) rotateZ(360deg);
        opacity: 0;
    }
}

@media (max-width: 1024px) {

    #tarjetas,
    #tarjeta-Mercado {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }

    .tarj {
        height: auto;
        padding: 10px;
    }

    .imgBatallaJugador,
    .imgBatallaEnemigo {
        height: 160px;
    }

    .contenedorImgBatallas {
        gap: 30px;
    }

    .tarjetaJugador {
        width: 220px;
        height: auto;
    }

    .imagenJugador {
        width: 60px;
    }
}

@media (max-width: 720px) {

    #tarjetas,
    #tarjeta-Mercado {
        grid-template-columns: 1fr;
        width: 95%;
        max-height: none;
    }

    .header {
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }

    .nombreJugador {
        text-align: center;
        padding-right: 0;
    }

    .imgBatallaJugador,
    .imgBatallaEnemigo {
        height: 120px;
    }

    .contenedorImgBatallas {
        gap: 15px;
    }

    #batallas {
        gap: 30px;
    }
}

@media (max-width: 360px) {

    body {
        font-size: 14px;
    }

    #contenedor{
        width: 95vw;
        margin:0;
    }

    #tarjetas,
    #tarjeta-Mercado {
        grid-template-columns: 1fr;
        width: 80%;
        max-height: none;
        margin-left: 9px;
    }

    .titulos {
        font-size: 1.2rem;
    }

    #formularioJugador {
        max-width: 90%;
    }

    #crearJugador,
    #estadoJugadorbtn,
    #botonEnemigos,
    #botonResumen,
    #botonMercado,
    #batallasBtn,
    #resultadoBtn,
    #vistaPrincipal {
        font-size: 1rem;
        padding: 6px 15px;
    }

    .imgBatallaJugador,
    .imgBatallaEnemigo {
        height: 90px;
    }

    .vsTexto {
        font-size: 1rem;
    }

    .tarjetaJugador {
        width: 90%;
    }

    #cestaMercado div {
        width: 20px;
        height: 20px;
        overflow-y: auto;
    }

    #cestaMercado div img {
        width: 15px;
    }

    #dinero img {
        width: 50px;
    }

    .imgAnimacionMonedas{
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
        height: 30px;
    }

    #monedas {
        font-size: 12px;
        top: 27px;
        left: 15px;
    }
}


