*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    font-size: 1rem;
    overflow-y: hidden;
    overflow-x: hidden;
}

#contenedor{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.imgFondo{
    width: 16px;
    height: 16px;
}

.titulos{
    font-family:'Courier New', Courier, monospace;
    font-size: 28px;
    text-align: center;
    z-index: 500;
    background-color: white;
    margin: 1%;
    padding:1%;
}

#escena1, #escenaEstadoJugador, #escena2, #escena3, #escena4, #escena5, #escena6, #escena7{
    background-image: url("./img/images/imagenes/fondo.svg");
    background-size: 16px 16px;
    background-repeat: repeat;
    flex-direction: column;
    align-items: center;
    display: none;
    flex: 1;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
}

#escena1{
    display: flex;
    flex: 1;
    height: 100%;
}

#formularioJugador {
    background-color: #f5e6c8;
    border: 2px solid #8b5e3c;
    border-radius: 10px;
    padding: 30px;
    max-width: 350px;
    margin: auto;
    box-shadow: 3px 3px 12px #00000033;
}

#formularioJugador label {
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
    color: #4b2e1e;
    font-size: 1rem;
}

#formularioJugador input {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 6px;
    border: 1.5px solid #8b5e3c;
    border-radius: 5px;
    font-size: 0.95rem;
    box-sizing: border-box;
}

#filas-seguidas {
    display: flex;
    gap: 10px; 
}

#filas-seguidas div {
    flex: 1;
}

#mensaje, #mensajeError {
    color: #ff0000;
    font-weight: bold;
    margin-bottom: 10px;
    min-height: 20px;
}

#puntos {
    font-weight: bold;
    color: #1a1a1a;
    text-align: center;
}

#crearJugador, #estadoJugadorbtn, #botonEnemigos, #botonResumen, #botonMercado, #batallasBtn, #resultadoBtn, #vistaPrincipal, #rankingConsola {
    display: block;
    background-color: #97623f;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 6px 22px;
    border: 2px solid #4e2f1b;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 6px #00000066;
    transition: all 0.2s ease-in-out;
    margin: 0.3% auto;
}

.anadirCarro{
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 3px 18px;
    border: 2px solid #4e2f1b;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 6px #00000066;
    transition: all 0.2s ease-in-out;
    margin: 1% auto;
    background-color: #79c78a;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.saltar {
    animation: salto 0.5s ease;
}

@keyframes salto {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

#batallas{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: relative;
    margin: 20px 0;
    position: relative;
    overflow: visible;
}

.contenedorImgBatallas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    margin: 15px 0;
}

.imgBatallaJugador{
    height: 200px;
    width: auto;
    object-fit: contain;
    animation: movimientoJugador 3s ease;
}

@keyframes movimientoJugador{
    0%{
        transform: translateX(1000px);
    }
    100%{
        transform: translateX(0px);
    }
}

.imgBatallaEnemigo {
    height: 200px;
    width: auto;
    object-fit: contain;
    animation: movimientoEnemigo 3s ease;
}

@keyframes movimientoEnemigo{
    0%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0px);
    }
}

#errorDinero{
    text-align: center;
    background-color: white;
    color:red;

}

#contenedorResultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 40px
}

#texto{
    text-align: center;
}

#tabla{
    margin: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    overflow-y: auto;
    max-height: 24vh;
    background-color: white;
}

#tabla tbody tr:nth-child(even) {
    background-color: #f0f0f0;  /* filas pares */
}

#tabla tbody tr:nth-child(odd) {
    background-color: rgb(121, 199, 138); /* filas impares */
}

#tablaTr{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #855d3a;
    color:white;
}

#crearJugador:hover, #estadoJugadorbtn:hover, #botonEnemigos:hover, #botonResumen:hover, #botonMercado:hover, .btnAvanzarMercado:hover, #batallasBtn:hover, #resultadoBtn:hover, #vistaPrincipal:hover, #rankingConsola:hover{
    background-color: #855d3a; 
    box-shadow: 0 0 10px #eb7231;
    transform: translateY(-2px);
}

#crearJugador:active, #estadoJugadorbtn:active, #botonEnemigos:active, #botonResumen:active, #botonMercado:active, .btnAvanzarMercado:active, #batallasBtn:active, #resultadoBtn:active, #vistaPrincipal:active, #rankingConsola:active{
    transform: translateY(1px);
    box-shadow: 1px 1px 4px #00000066;
}

.header {
    display: flex;               
    align-items: center;       
    justify-content: center;
    padding: 0 10px; 
    background-color: rgb(121, 199, 138);
    color: white;
    height: 10vh;  
    position:relative; 
}

.imagenJugador {
    width: 80px;
    height: auto;
}

#tarjetas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 100%;
    height: 40vh;
    width: 50vw;
    margin: 0 auto;
    overflow-y: auto;
    padding-top: 5px;
    padding-left: 80px;
    background-color: #97623f;
}

#tarjeta-Mercado {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    max-height: 310px;
    overflow-y: auto;
    border: 4px solid black;
    background-color: #97623f;
    width: 65%;
    margin: auto;
    padding-top: 5px;
    padding-left: 80px;
}

#tarjeta-Mercado img {
    height: 60px;
    width: auto;
    object-fit: contain;
}

.tarj img, .tarjetaJugador img{
    height: 155px;
    width: auto;
    object-fit: contain;
}

.tarj h3{
    font-size: 13px;
}

.tarj{
    border: 2px solid black;
    background-color: white;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: box-shadow 0.2s ease;
}

.tarj:hover{
    box-shadow: 0 8px 20px rgb(248, 247, 247);
}


.tarjetaMercado{
    border: 2px solid black;
    background-color: rgb(209, 179, 124);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#puntos{
    display: flex;
    justify-content: center;
    align-items: center
}

.tarjetaJugador {
    width: 255px;
    border: 2px solid black;
    background-color: white;
    height: 250px;
    margin: 5% auto;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 3%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-height: 20vh;
}

#cestaMercado{
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(121, 199, 138);
}

#cestaMercado div img {
    width: 40px;
    height: auto;
    display: block;
    margin: auto;
    transition: transform 0.2s ease;
}

#cestaMercado div img:hover{
    transform: scale(1.1);
}

#producto1, #producto2, #producto3, #producto4, #producto5, #producto6{
    border: 2px solid black;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#dinero{
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;
    top:10px;
    animation: mover 3s ease;
}

#topSecret{
background-color: gray;
width: 20vh;
position: absolute;
display: block;
margin-left: 85%;
transition: all 0.3s ease;
top:115px;
z-index: -1;
padding:1%;
margin-right: 3%;
}

#topSecret:hover{
    transform: translateY(-100px);
}

#topSecret h1{
    font-size: 1.5rem;
}

#topSecret p{
    padding: 2px;
}

#dinero img{
    width: 70px;
    height: auto;
    display: block;
}

#monedas{
    position: absolute;
    top: 35px;
    left: 22px;
    font-size: 15px;
    font-weight: bold;
    z-index: 1;
}

@keyframes mover{
    0%{
        transform: translateX(-100vw);
    }
    50%{
        transform: translateX(50px);
    }
    100%{
        transform: translateX(0);
    }
}

.imgAnimacionMonedas {
    position: absolute;
    top: -100px;              
    width: 50px;
    height: 50px;
    animation: caerMoneda 3s ease-in forwards;
    z-index: 1;
}

@keyframes caerMoneda {
    0% {
        transform: translateY(0px) rotateY(0deg) rotateZ(0deg);  
        opacity: 1;
    }
    50% {
        transform: translateY(150px) rotateY(360deg) rotateZ(180deg);
        opacity: 0.8;
    }
    100% {
        transform: translateY(300px) rotateY(720deg) rotateZ(360deg);
        opacity: 0;
    }
}

@media (max-width: 1024px) {

    #tarjetas{
        grid-template-columns: repeat(2, 1fr);
        height: 265px;
    }

    #tarjeta-Mercado {
        grid-template-columns: repeat(3, 1fr);
        width: 98%;
    }

    .tarj {
        height: auto;
        padding: 10px;
    }

    .imgBatallaJugador,
    .imgBatallaEnemigo {
        height: 180px;
    }

    .contenedorImgBatallas {
        gap: 30px;
    }

    .tarjetaJugador {
        width: 220px;
        height: auto;
    }

    .imagenJugador {
        width: 60px;
    }
}

@media (max-width: 720px) {

    #tarjetas,
    #tarjeta-Mercado {
        grid-template-columns: repeat(2, 1fr);
        overflow-y: auto;
        max-width: 100vw;
        max-height: 45vh;
        width: 95%;
    }

    .header {
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }

    .nombreJugador {
        text-align: center;
        padding-right: 0;
    }

    .imgBatallaJugador,
    .imgBatallaEnemigo {
        height: 120px;
    }

    .contenedorImgBatallas {
        gap: 15px;
    }

    #batallas {
        gap: 30px;
    }

    #topSecret{
        margin-right: 3%;
    }

}

@media (max-width: 360px) {

    body {
        font-size: 14px;
    }

    #contenedor{
        width: 100vw;
        margin:0;
    }

    #tarjetas{
        grid-template-columns: 1fr;
        max-width: 100vw;
        height: 45vh;
        max-height: 70vh;
        overflow-y: auto;
    }

    #tarjeta-Mercado {
        grid-template-columns: 1fr;
        max-width: 100vw;
        height: 45vh;
        max-height: 70vh;
        overflow-y: auto;
    }

    .titulos {
        font-size: 1.2rem;
        margin-bottom: 5%;
    }

    #formularioJugador {
        max-width: 85%;
        margin: 1%;
    }

    #crearJugador,
    #estadoJugadorbtn,
    #botonEnemigos,
    #botonResumen,
    #botonMercado,
    #batallasBtn,
    #resultadoBtn,
    #vistaPrincipal {
        font-size: 20px;
        margin-top: 1%;
    }

    .imgBatallaJugador,
    .imgBatallaEnemigo {
        height: 250px;
    }

    .vsTexto {
        font-size: 1rem;
    }

    .tarjetaJugador {
        margin-top:20%;
        padding-top: 12%;
        padding-bottom: 12%;
        width: 90%;
    }

    .ataqueJugador, .defensaJugador, .vidaJugador{
        font-size: 18px;
    }

    .tarjetaJugador img{
        height: 200px;
    }

    #cestaMercado div {
        width: 27px;
        height: 27px;
        overflow-y: auto;
    }

    #cestaMercado div img {
        width: 15px;
    }

    #dinero img {
        width: 50px;
    }

    .imgAnimacionMonedas{
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
        height: 30px;
    }

    #monedas {
        font-size: 12px;
        top: 27px;
        left: 15px;
    }

    #topSecret{
        margin-right: 3%;
    }
}


